<!-- included as they have a very diff format -->
<div class="container">

  <me-divider [dividerTitle]="'A Short Intro!'"></me-divider>

  <!--Row 1-->
  <div class="row" style="margin-top:15px">

    <div class="col-md-4">
      <!--Card-->
      <div class="card hoverable waves-effect z-depth-5 wow zoomInRight" data-wow-delay="1s">

        <!--Card image-->
        <div class="view">
          <img src="../../assets/img/aboutMe/Pic.jpg" class="img-fluid">

        </div>
        <!--/.Card image-->
      </div>
    </div>

    <div class="col-md-8">

      <!--Card-->
      <div class="card hoverable waves-effect z-depth-5 wow jello" data-wow-delay=".5s">

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h2 class="card-title">Parshva Jain  <span style="margin-left:100px">#Parsh</span> </h2>
          <!--Text-->
          <div class="card-text">
            <ul style="margin-left:50px" class="h4-responsive">
              <li class="text-muted"> Lives in :</li>
              <li style="margin-left:50px"> Indore , India</li>

              <li class="text-muted"> Studying @ :</li>
              <li style="margin-left:50px"> Medicaps Institute of Science and Technology <br><span class="text-muted" style="font-size:16px">Pursuing Degree in Information Technology</span></li>

              <li><span class="text-muted">Age</span> : 20 <span class="text-muted" style="margin-left:40px">#ProfessionalDeveloper</span></li>


            </ul>
          </div>

          <a href="https://plus.google.com/+ParshJainvenom" target="_blank" class="btn btn-info waves-effect z-depth-3">Follow Me</a>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->

    </div>


  </div>
  <!--/Row 1-->

</div>



<me-info *ngIf="info" [info]="info.page1"></me-info>

<!-- included as they have a very diff format -->
<div class="container">

  <div class="row">

    <me-divider [dividerTitle]="'Connect to Me'"></me-divider>

    <div class="offset-md-1 col-md-5">

      <!--Card-->
      <div class="card z-depth-5 waves-effect  wow fadeInDownBig " data-wow-delay="1s">

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h2 class="card-title"></h2>
          <!--Text-->
          <div class="card-text">
            <ul style="margin-left:35px" class="h2-responsive">
              <li><i class="fa fa-3x fa-google" aria-hidden="true"></i>
                <a href="https://plus.google.com/+ParshJainvenom" target="_blank"> <button class="btn btn-primary waves-effect z-depth-3" style="margin-left:70px; margin-bottom:40px">Follow</button></a>
              </li>
              <li><i class="fa fa-3x fa-github" aria-hidden="true"></i>
                <a href="https://github.com/Parsh69" target="_blank"> <button class="btn btn-primary waves-effect z-depth-3" style="margin-left:70px; margin-bottom:40px">Explore</button></a>
              </li>
              <li><i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i>
                <a href="https://in.linkedin.com/in/parshva-jain" target="_blank"> <button class="btn btn-primary waves-effect z-depth-3" style="margin-left:68px; margin-bottom:40px">Connect</button></a>
              </li>
            </ul>
          </div>

        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->

    </div>

    <div class="col-md-4">

      <!--Card-->
      <div class="card z-depth-5 waves-effect   wow fadeInLeftBig " data-wow-delay="1s">

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h2 class="card-title"></h2>
          <!--Text-->
          <div class="card-text">
            <ul class="h4-responsive">
              <li><i class="fa fa-3x fa-whatsapp" aria-hidden="true"></i> <span style="margin-left:20px; "> +91 7415577780 </span></li>
              <li><br></li>
              <li><i class="fa fa-2x fa-envelope" aria-hidden="true"></i> <span style="margin-left:20px;font-size:17px "> parsh.cosmos11@gmail.com </span></li>
            </ul>
          </div>

        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->

    </div>

  </div>


</div>

<br><br>
