<!--Mask-->
<div [class]="details.class">
  <!--Intro content-->
  <div class="full-bg-img flex-center ">
    <ul>
      <li>
        <h1 [id]="details.mainHeading.id" [class]="details.mainHeading.class" [attr.data-wow-delay]="details.mainHeading.delay">{{details.mainHeading.title}}</h1></li>
      <li>
        <h4 [id]="details.subHeading.id" [class]="details.subHeading.class" [attr.data-wow-delay]="details.subHeading.delay"><ng-content></ng-content> {{details.subHeading.title}}</h4>
      </li>
      <li *ngIf="details.button.isAvailable">
        <a [routerLink]="[details.button.url]" [class]="details.button.class" [attr.data-wow-delay]="details.button.delay">Discover Me</a>
      </li>
      <li *ngIf="details.subHeading2">
        <h4 [class]="details.subHeading2.class" [attr.data-wow-delay]="details.subHeading2.delay"> {{details.subHeading2.title}}</h4>
      </li>
    </ul>
  </div>
  <!--/Intro content-->
</div>
<!--/.Mask-->
