<!--Mask-->
<div [class]="details.class">
  <!--Intro content-->
  <div class="full-bg-img flex-center ">
    <ul>
      <li>
        <h1 id="main-title" [class]="details.mainHeading.class" data-wow-delay="0.7s">{{details.mainHeading.title}}</h1></li>
      <li>
        <h4 [class]="details.subHeading.class" data-wow-delay="1.2s"> {{details.subHeading.title}}</h4>
      </li>
      <li *ngIf="details.button.isAvailable">
        <a [routerLink]="[details.button.url]" [class]="details.button.class" data-wow-delay="1.5s">Discover Me</a>
      </li>
    </ul>
  </div>
  <!--/Intro content-->
</div>
<!--/.Mask-->
